<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="../public/css/my.css"> -->
</head>
<style>
    .c1 {
        
        color: green;
        font-size: 20px;
        text-shadow: 5px 3px 7px orange;
        display: grid;
        list-style-type: none;
        font-weight: bold;      
            }
    .c1 li a{
        
        text-decoration:wavy;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        
    }
    
    h1 {
        display: block;
        font-size: 2em;
        margin-bottom: 2em;
        font-weight: bold;
        color: red;
      }
      h2{
        color: green;
      }
</style>

<body style="background-image: linear-gradient(to top,lightyellow,lightblue,orange,skyblue)">
    <h2><a href="/chd">about page</a></h2>
    <h1 align="center" title="data sql database"> welcome to node</h1>
   
    <center>
        <div style="border: 5px solid green;border-radius:20px;background-image:linear-gradient(to top right,cyan,aqua,skyblue,lightgrey,lightgreen,lightyellow);height:10hw;width:2hw;padding:2rem;margin: 5rem;">
             

            <ul class="c1" >
                <h2 align="center"> mini calculation functions</h2>

            <li> <a href="/addpage">addition page</a></li><br><br>
            <li><a href="/find_multi">multiplication</a></li><br><br>
            <li><a href="/subtract">subtract app</a></li><br>
            <h2 align="center" title="student table in data in sql "> student registrations & data</h2><br>

            <li><a href="/add_info">student add</a></li><br><br>
            <li><a href="/student_display">student display</a></li><br>
            
            <h2 align="center" title="employee table in sql">employee data</h2>
            <li><a href="/emp"> adding record with pic</a></li><br><br>
            <li><a href="/display_now">display employee records</a></li><br><br>

        </ul>
    </div>
    </center>

</body>

</html>
